.projectParent {
    padding-top: 6%;
    /* background-color: purple; */
}

.project {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(5px);
    height: 80vh;

    margin: 0% 1%;
    border-radius: 10px;

    padding: 2%;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.projectHead {
    margin-left: 1%;
    /* background-color: red; */
}

.hLine {
    /* width: 99%;
    margin: 0% auto;
    padding: 0%; */

    height: 2px;
    border-width: 0px;
    color: #ffffff;
    background-color: #ffffff;
}

.projectMainPart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.projectTextnBtn {
    flex: 1;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    margin-right: 1%;

}

.projectText {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    border-radius: 10px;

    padding: 2%;
}

.projectBtnLink {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 0px;

    padding: 1% 2%;
}

.projectBtn {
    background-color: rgba(255, 255, 255, 0);
    border: 0px;

}

.projectSlideShow {
    width: 60%;

    border-radius: 10px;
}