.allResearchWorks {
    /* background-color: rgb(0, 38, 95);
    background-image: url('../assets/bg2.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed; */

    padding-top: 1%;

    color: #000000;
}