.footerParent {
    padding-bottom: 1%;
}

.MDBParent {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 32px;

    margin: 6% 1%;
    margin-bottom: 0%;
    border-radius: 10px;

    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: stretch;
}

.socialIcons {
    color: black !important;
    border: 1px solid black !important;
}

.socialIcons:hover {
    color: white !important;
    background-color: black !important;
}

.sendMsg>form>div>div>p{
    letter-spacing: 1px;
    font-weight: 100;
}

@media only screen and (max-width: 768px) {
    .MDBParent {
        margin-left: 2%;
        margin-right: 2%;
    }

    .inputBox {
        margin: auto;
    }
}

@media only screen and (max-width: 414px) {}