* {
    margin: 0%;
    padding: 0%;

    font-family: 'Open Sans', sans-serif;
}

@font-face {
    font-family: Diranista;
    src: local("Diranista"), url("./assets/fonts/Diranista/Diranista-Regular.otf") format("opentype");
    font-weight: normal;
}
@font-face {
    font-family: 'Playfair';
    src: local("Playfair"), url("./assets/fonts/Playfair/PlayfairDisplay-Regular.ttf") format("opentype");
    font-weight: normal;
}

h1, h3 {
    font-family: 'Playfair', serif;
    /* font-family: 'Diranista'; */
}

body {
    overflow-y: scroll;
}