.bStrapParent {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0)) !important;
    -webkit-backdrop-filter: blur(30px);
    backdrop-filter: blur(30px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 32px;

    width: 99%;
    margin: auto;
    border-radius: 10px 10px 10px 10px;

    margin-top: 1%;
}

.brandLink {
    padding: 0%;

    color: #ffffff !important;
}

.leftLinks {
    color: #ffffff !important;
}

.socialLinks {
    color: #ffffff !important;
    font-size: 1em;
}

@media only screen and (max-width: 768px) {}

@media only screen and (max-width: 414px) {
    .socialLinksParent {
        justify-content: space-around;
        padding: 0% 10% !important;
    }
}