.coCurricularParent {
    padding-top: 6%;
}

.coCurricular {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 32px;

    margin: 0% 1%;
    border-radius: 10px;

    padding: 2%;
}

.coCurricularHead {
    color: #ffffff;
    padding: 0%;
    margin: 0%;
    margin-left: 1%;
}

.hLine {
    height: 2px;
    border-width: 0px;
    color: #ffffff;
    background-color: #ffffff;
}

.coCurricularMainPart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    color: white;
}

.coCurricularSection2 {
    width: 40%;
    margin-left: 4%;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    row-gap: 10px;
}

.coCurricularSection1 {
    flex: 1;
}

.coCurricularSection>ul>li{
    text-align: justify;
}

.expandBtn {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    color: white;
    text-decoration: underline;
    font-size: small;
}

.expandBtnSub {
    background-color: rgba(0, 0, 0, 0.0);
    border: none;
    color: white;
}

.subLists {
    display: none;
}

@media only screen and (max-width: 768px) {
    .coCurricularMainPart {
        flex-direction: column;
        justify-content: flex-start;
    }

    .coCurricularSection2 {
        width: 100%;
        margin-left: 0%;
    }
    
    .coCurricularSection1 {
        width: 100%;
    }
    
    .coCurricularSection>ul>li{
        text-align: left;
    }

    .coCurricularParent {
        padding-top: 12%;
    }

    .coCurricular {
        padding: 5%;
        margin: 0% 2%;
    }
}