.projectsParent {
    padding-top: 6%;
}

.projects {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0.37);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 32px;

    margin: 0% 1%;
    border-radius: 10px;

    padding: 2%;
}

.projectsHeadDiv {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.projectsHead {
    color: #ffffff;
    padding: 0%;
    margin: 0%;
    margin-left: 1%;
}

.projectFilters {
    margin: 0% 8%;
    padding: 0%;

    flex: 1;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.filterHeading {
    display: inline;
    padding: 0%;
    margin: 0%;

    background-color: none;
    backdrop-filter: none;
    border-radius: 0%;
    border: 0px;

    color: white;
}

.projectFiltersCategory {
    display: inline;
    padding: 0%;
    margin: 0%;

    background-color: rgba(255, 255, 255, 0.25);
    backdrop-filter: blur(15px);
    border-radius: 10px;
    border: 0px;
}

.projectFiltersButton {
    width: 100px;
    padding: 8% 10%;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.hLine {
    height: 2px;
    border-width: 0px;
    color: #ffffff;
    background-color: #ffffff;
}

.filterResultDiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    display: none;

    margin-bottom: 1%;
}

.countFiltersMatched {
    color: white;
}

.removeFilters {
    color: white;
    background-color: rgba(255, 255, 255, 0);
    border: none;
}

.projectsMainPart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;

    flex-wrap: nowrap;
    overflow-x: scroll;
}

.mobileHint {
    display: none;
}

.container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.506);
    border-radius: 10px;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: fit-content;
}

.project {
    min-width: 48%;
    border-radius: 10px;
    margin: 1%;
    margin-top: 0%;
    margin-bottom: 0%;
}

.projectsMainPart div:nth-child(2) {
    margin-left: 0%;
}

.projectsMainPart div:last-child {
    margin-right: 0%;
}

.projectImg {
    width: 100%;
    border-radius: 10px;
}

.projectTechStack {
    color: #ffffff;
    text-align: center;
    margin-top: 1%;
}

/* height */
.projectsMainPart::-webkit-scrollbar {
    height: 5px;
}

/* Track */
.projectsMainPart::-webkit-scrollbar-track {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.1));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 2px;
}

/* Handle */
.projectsMainPart::-webkit-scrollbar-thumb {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgba(255, 255, 255, 0.2));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 2px;
}

/* Handle on hover */
.projectsMainPart::-webkit-scrollbar-thumb:hover {
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.4), rgba(255, 255, 255, 0.4));
    -webkit-backdrop-filter: blur(20px);
    backdrop-filter: blur(20px);
    border-radius: 2px;
}

@media only screen and (max-width: 992px) {
    .projectFilters {
        display: none;
    }
}

@media only screen and (max-width: 768px) {
    .projectsParent {
        padding-top: 12%;
    }

    .projects {
        height: auto;
        padding: 5%;
        margin: 0% 2%;
    }
}

@media only screen and (max-width: 414px) {
    .projectsMainPart {
        flex-direction: column;
    }

    .mobileHint {
        display: block;
        width: 100%;
        text-align: right;
        font-size: small;
        color: #ffffff;
    }

    .container:hover .overlay {
        opacity: 0;
    }

    .project {
        width: 100%;
    }

    .project2 {
        margin: 4% 0%;
    }
}