:root {
    --progressBar_colour: rgb(64, 123, 255);
}

.projectsParent {
    padding-top: 6%;
}

.projects {
    background-color: rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(15px);

    margin: 0% 1%;
    border-radius: 10px;

    padding: 2%;
}

.projectsHeadDiv {
    display: flex;
    flex-direction: row;
    align-items: baseline;
    justify-content: space-between;
}

.projectsHead {
    color: #ffffff;
    padding: 0%;
    margin: 0%;
    margin-left: 1%;
}

.hLine {
    height: 2px;
    border-width: 0px;
    color: #ffffff;
    background-color: #ffffff;
}

.projectsMainPart {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.mobileHint {
    display: none;
}

.container {
    position: relative;
}

.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: rgba(0, 0, 0, 0.506);
    border-radius: 10px;
}

.container:hover .overlay {
    opacity: 1;
}

.text {
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
    width: fit-content;
}

.project {
    width: 49%;
    border-radius: 10px;
}

.projectImg {
    width: 100%;
    border-radius: 10px;
}

@media only screen and (max-width: 768px) {
    .projectsParent {
        padding-top: 12%;
    }

    .projects {
        height: auto;
        padding: 5%;
        margin: 0% 2%;
    }
}

@media only screen and (max-width: 414px) {
    .projectsMainPart {
        flex-direction: column;
    }

    .mobileHint {
        display: block;
        width: 100%;
        text-align: right;
        font-size: small;
        color: #ffffff;
    }

    .container:hover .overlay {
        opacity: 0;
    }

    .project {
        width: 100%;
    }

    .project2 {
        margin: 4% 0%;
    }
}